* {
  margin: 0px 0px 0px 0px;
  font-family: "Roboto", sans-serif;
}

/* organization of the global webpage */
#webpage {
  margin: 0px auto 0px auto;
  width: 100%;
  display: grid;
  grid-template-areas:
    "head head"
    "main main"
    "footer foot";
}

#webpage > header {
  grid-area: head;
  padding: 10px 80px 0px 80px;
}

#webpage > nav {
  grid-area: nav;
}

#webpage > main {
  grid-area: main;
}

#webpage > footer {
  grid-area: foot;
}

header,
main {
  background-color: #1f2937;
  color: white;
}

/* organize the header section */

header {
  display: grid;
  grid-template-areas: "logo nav";
  margin: px 0px 0px 0px;
}

.logo-container {
  grid-area: logo;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: white;
}

nav > a {
  padding-right: 8px;
}

.header-link {
  font-size: 18px;
  color: #e5e7eb;
}

.logo {
  border: 2px rgb(100, 100, 197) solid;
  border-radius: 50% 50% 50% 50%;
}

/* main organization */

.intro-placeholder-container {
  display: grid;
  grid-template-areas: "a b b b";
  margin: 0px 0px 0px 0px;
  padding: 10px 80px 10px 80px;
}

.class {
  grid-area: a;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.placeholder {
  grid-area: b;
  margin: 10px 10px 0px 10px;
  height: 250px;
  width: 100%;
}

.placeholder-img {
  width: 100%;
  border: 2px rgb(100, 100, 197) solid;
  border-radius: 5% 5% 5% 5%;
}

/* section random information with image of my projects*/

.random-info {
  background-color: white;
  height: 200px;
  padding: 10px 80px 10px 80px;
}

/* section quotes */

.quote {
  padding: 10px 80px 10px 80px;
}

/* section form */
.form {
  padding: 10px 80px 10px 80px;
}

/* container-contact section */
.container-contact {
  padding: 10px 80px 10px 80px;
}
